*, *::before, *::after{
background-origin: border-box;
font-family: Arial, Helvetica, sans-serif;
}



body{

  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:grey

}


.container{
  width: 800px;
  max-width: 80%;
  position: fixed;
  top: 50%;
  left: 25%;
  margin-top: -100px;
  margin-left: -100px;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  box-shadow:0 0 10px 2px ;
}

.leaderContainer{
  width: 400px;
  max-width: 40%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow:0 0 10px 2px ;
  position: fixed;
  top: 20%;
  right: 35%;
  margin-top: -100px;
  margin-left: -100px;
}


#countdown {
  font-size: medium;
  font-weight: bold;
  text-align:right;
  
}

.btn-grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 10px;
  margin: 20px 0;
}
.btn {
  border: 1px solid;
  background-color:lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  color:lightblack;
  outline: none;
}

.btn:hover{
  border-color: gray;
  
}




.start-btn,.next-btn{
  font-size: medium;
  font-weight: bold;
  padding: 10px 20px;
}
.controls{
  display: flex;
  justify-content: center;
  align-items: center;

}
.hide{
  display:none;
}












